body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
  color: #ff4447;
}
.navbar-header {
  color: #ff4447;
}

.navbar-header a.navbar-brand h6 {
  color: #ff4447;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
footer p {
  border-top: 1px solid #ff4447;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #ff4447;
}
.JumboHeading {
  color: #ff4447;
}
