.container
  .well
    form.form-horizontal(name="signupForm")
      fieldset
        legend New User Information
        h3 Account
        hr
        .form-group
          label.col-md-2.control-label(for="email") Email* (username)
          .col-md-9
            input.form.control(name="email", type="email", placeholder="Email", ng-model="email", required)
          .col-md-1
            div
              i(style="color:red") Required

        .form-group
          label.col-md-2.control-label(for="superman") Superman*
          .col-md-9
            input.form.control(name="superman", type="text", placeholder="Superman status", ng-model="superman", required)
          .col-md-1
            div
              i(style="color:red") Required

        .form-group
          label.col-md-2.control-label(for="password") Password*
          .col-md-9
            input.form.control(name="password", type="password", placeholder="Password", ng-model="password", required)
          .col-md-1
            div
              i(style="color:red") Required
        br
        h3 Name
        hr
        .form-group
          label.col-md-2.control-label(for="Thetitle") Title*
          .col-md-9
            input.form.control(name="Thetitle", type="radio", value="Mr", ng-model="Thetitle", checked, required) 
            |   Mr
            br
            input.form.control(name="Thetitle", type="radio", value="Miss", ng-model="Thetitle", required) 
            |   Miss
            br
            input.form.control(name="Thetitle", type="radio", value="Mrs", ng-model="Thetitle", required) 
            |   Mrs
            br
            input.form.control(name="Thetitle", type="radio", value="Ms", ng-model="Thetitle", required) 
            |   Ms
            br
            input.form.control(name="Thetitle", type="radio", value="Dr", ng-model="Thetitle", required) 
            |   Dr
          .col-md-1
            div
              i(style="color:red") Required
        .form-group
          label.col-md-2.control-label(for="fname") First Name*
          .col-md-9
            input.form.control(name="fname", type="text", placeholder="First Name", ng-model="fname", required)
          .col-md-1
            div
              i(style="color:red") Required
        .form-group
          label.col-md-2.control-label(for="lname") Last Name*
          .col-md-9
            input.form.control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
          .col-md-1
            div
              i(style="color:red") Required
        br
        h3 Extra Details
        hr
        .form-group
          label.col-md-2.control-label(for="gender") Gender*
          .col-md-9
            input.form.control(name="gender", type="radio", value="male", ng-model="gender", checked, required)
            |   male
            br
            input.form.control(name="gender", type="radio", value="female", ng-model="gender", required)
            |   female
            br
            input.form.control(name="gender", type="radio", value="other", ng-model="gender", required)
            |   other
            br
            input.form.control(name="gender", type="radio", value="prefer not to say", ng-model="gender", required)
            |   prefer not to say
          .col-md-1
            div
              i(style="color:red") Required
        .form-group
          label.col-md-2.control-label(for="age") Age
          .col-md-10
            input.form.control(name="age", type="number", placeholder="Age", min="16", max="130" ng-model="age")
        br
        h3 Address
        hr
        .form-group
          label.col-md-2.control-label(for="theStreetAddress") Street Address*
          .col-md-9
            input.form.control(name="theStreetAddress", type="text", placeholder="Street Address", ng-model="theStreetAddress", required)
          .col-md-1
            div
              i(style="color:red") Required
        .form-group
          label.col-md-2.control-label(for="theCity") City
          .col-md-10
            input.form.control(name="theCity", type="text", placeholder="City", ng-model="theCity")
        .form-group
          label.col-md-2.control-label(for="theCounty") County
          .col-md-10
            input.form.control(name="theCounty", type="text", placeholder="County", ng-model="theCounty")
        .form-group
          label.col-md-2.control-label(for="thePostCode") Postcode*
          .col-md-9
            input.form.control(name="thePostCode", type="text", placeholder="Postcode", ng-model="thePostCode", required)
          .col-md-1
            div
              i(style="color:red") Required
        br
        h3 Contact Details
        hr
        .form-group
          label.col-md-2.control-label(for="homeTelephone") Home Telephone*
          .col-md-9
            input.form.control(name="homeTelephone", type="number", placeholder="08953748374", min="0", max="9999999999", ng-model="homeTelephone", required)
          .col-md-1
            div
              i(style="color:red") Required
        .form-group
          label.col-md-2.control-label(for="mobilePhone") Mobile
          .col-md-10
            input.form.control(name="mobilePhone", type="number", placeholder="04983574837", min="0", max="9999999999", ng-model="mobilePhone")
        .form-group
          label.col-md-2.control-label(for="contactEmail") Contact Email
          .col-md-10
            input.form.control(name="contactEmail", type="email", placeholder="e.g ContactEmail@#####.co.uk", ng-model="contactEmail")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="signup()", ng-disabled="signupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
