.container
  .jumbotron.text-center
    h1 Yes Jarvis
    h3 Let us save you TIME…
    p We know you work long hours…
    p We know you want to do things that add value to your life…
    p(id="aboutUs") So what are you waiting for?
    button.btn.btn-primary(ng-click="go('/signup')", ng-hide="identity.isAuthenticated()") Sign Up
    
  .jumbotron.text-center
    h1(class='JumboHeading') About Jarvis
    p Jarvis is the butler you never had
    p It is a luxury, a personalised, intimate and bespoke service
    p YesJarvis is a service layer that sits on top of on-demand and local services
    p Automate your mundane tasks that are so vital and essential for you to function
    p Get a Jarvis
    p(id="homeCleaning") Spend time on things that add value to your life
  
  .jumbotron.text-center
    h1 Home Cleaning
    p Javis can organise cleaning for you making sure that your cabinets are dust free, your home is hoovered, your floor mopped, your corner table clean, and your dishes washed.
    p Jarvis will ensure you do not have any overflowing trash and take out your trash.
    p Jarvis will make sure you have fresh sheets and even organise your desk.
    p(id="groceryStocking") Trusted cleaner, vetted personally by ourselves: £10/hr
    
  .jumbotron.text-center
    h1 Grocery Stocking
    p Jarvis will stock your groceries, load up your larder and fill your fruit bowl. Jarvis will ensure that you don't have to suffer with milk-less tea or cereal.
    p(id="dryCleaning") Jarvis uses Ocado for groceries and everything you ask for is at retail price.
    
  .jumbotron.text-center
    h1 Dry Cleaning and Laundry
    p Jarvis will wash your clothes, dry, fold and iron them.  Jarvis can even dry clean your suit/dress shirts
    h3 Laundry
    p We wash, dry and fold
    p 6Kg Load: £13
    p 12Kg Load: £24
    h3 Dry Cleaning
    p(id="specialRequests") Two Piece Suit: £11, 5 shirts: £11, Duvets: From £16, Jacket: £7.50, Trousers: £6.50, Winter Coat: £14.00, Blouse: £6.00, Evening/Delicate dress: £18.50, Knitwear: £7.50, Skirt: £6.50
  
  .jumbotron.text-center
    h1 Special Requests
    p Jarvis can tend to your special requests, ensure that you are reading the latest issue of your favourite magazine and even buy that birthday present that slipped your mind
    p Jarvis can deliver a parcel for you and even do some fancy shopping if you need

  // Testing Something: Ignore
  //.row
  //  .col-md-6
  //    div(ng-include="'/partials/main/partialOne'")
  //  .col-md-6
  //    div(ng-include="'/partials/main/partialTwo'")
